/*Importing font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
/*removing all padding and margins*/
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    background-color:whitesmoke;
}

button {
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;
}

button:hover{
    background-color:rgba(0, 0, 0, 0.1);
}

.flash-container{
    width: 1280px;
    margin: auto;
}

header {
    background-color:white;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70px;
    padding: 0 20px;
    background: white;
}

#header button{
    font-family: inherit;
    border: 1px solid red;
}

#create_flashcards{
    display: none;
    width: 370px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    background: whitesmoke;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}

#create_flashcards h2{
    color:black;
    text-align: center;
}

#create_flashcards textarea{
    width: 100%;
    resize: none;
    font-family: inherit;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#create_flashcards button{width: fit-content;}

#flashcards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    padding: 0 10px;
    background: white;
}

.flashcard {
    width: 370px;
    height: 200px;
    word-wrap: break-word;
    margin: 10px;
    background: white;
    cursor: pointer;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
    position: relative;
}

.flashcard h2{
    font-size: 1rem;
}

.fa-minus{
    top: 3%;
    right: 2%;
    position: absolute;
    color: #1a1a1a;
}

.nav{
    display:flex;
    justify-content:space-between;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    background-color: white;
}
@media(max-width:1280px){
    .flas-container{width: 100%}
}

@media(max-width:768px) {
    .flashcard{
        margin: auto;
    }

    .flashcard{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
}

@media(max-width:480px) {
    #header{
        padding: 20px;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    #create_flashcard{width: 95%;}

    .flashcard{width: 100%;}
}