/*Importing font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
/*removing all padding and setting margins*/
*{
    padding: 0;
    margin: 2px 0px;
    box-sizing:border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    background-color:rgb(188, 183, 183);
}

button {
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: white;
    background-color: hsl(200, 100%, 50%);
}

button:hover{
    background-color: hsl(200, 100%, 40%);
}

.container{
    width: 95%;
    margin-left: 2rem;
    margin-right: 2rem;
}

.header {
    background-color:white;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 3rem;
    min-width: 70px;
    padding: 5px 5px;
    background: white;
}

#header button{
    border: 1px solid;
}

#create_card{
    width: 370px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    background: whitesmoke;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}

#create_card h2{
    color:black;
    text-align: center;
}

#create_card textarea{
    width: 100%;
    font-family: inherit;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#create_card button{width: fit-content;}

#flashcards{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 0 10px;
}

.flashcard {
    width: 370px;
    height: 200px;
    word-wrap: break-word;
    margin: 10px;
    background: whitesmoke;
    cursor: pointer;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
    position: relative;
}

.flashcard h2{
    font-size: 1rem;
}

.fa-minus{
    top: 3%;
    right: 2%;
    position: absolute;
    color: #1a1a1a;
    transition: 0.3s ease-out;
}

.fa-minus:hover{
    color: rgba(248, 88, 107, 0.774);
}

/*Media queries*/
@media(max-width:1280px){
    .container{width: 100%}
}

@media(max-width:768px) {
    .container{width: 100%}
    .flashcard{
        margin: auto;
    }

    .flashcard{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
}

@media(max-width:480px) {
    .container{width:100%}
    #header{
        padding: 20px;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    #create_card{width: 95%;}

    .flashcard{width: 100%;}
}
@media(max-width:320px) {
    .container{width: 100%}
    #header{
        padding: 20px;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    #create_card{width: 95%;}

    .flashcard{width:95%}
}